.div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 80px;
  gap: 20px;
  padding: 30px;
  background-color: var(--text-icon);
  border: 2px solid var(--divided-color);
  box-sizing: border-box;
}

.list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 30px;
  gap: 30px;
  width: 100%;
  background-color: var(--text-icon);
  box-sizing: border-box;
}
